.App {
  text-align: center;
  background-color: #F1FAFF;
  width: 80vw;
  margin: 0 auto;
  padding: 30px;
}

.App h1 {
  margin: 0 auto 40px;
  font-size: 40px;
  color: #3997D4;
}

.App ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App li {
  list-style-type: none;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 13px -4px #3997D4;
  box-shadow: 0px 2px 13px -4px #3997D4;
  width: 270px;
  margin: 20px;
  background-color: #FFF;
  padding: 15px;
  position: relative;
  top: 0px;
  transition: all 100ms ease-in-out;
}

.App li:hover {
  top: -4px;
  -webkit-box-shadow: 0px 4px 18px -4px #3997D4;
  box-shadow: 0px 4px 18px -4px #3997D4;
}

.App li img {
  height: 250px;
}